<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>AFK Apartelle</title>
      <link rel="icon" href="img/icon.png">
      <link rel="stylesheet" href="css/style.css" >
      <!-- Bootstrap LINKS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
         integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
         crossorigin="anonymous">
      <script
         src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
         integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
         crossorigin="anonymous"
         ></script>
      <!--angular js-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <!-- Font Awesome -->
      <script
         src="https://kit.fontawesome.com/2ddbad06a5.js"
         crossorigin="anonymous"></script>
      <script>
         var app = angular.module("myApp", []);
         app.controller("myCtrl", function ($scope, $window) {
           $scope.people =  { firstName: "", lastName: "", email: "", password: "", phoneNumber: "", checkinDate: null, checkoutDate: null, totalPrice:0};
           $scope.roomsRegistered = [
           {selected:false, roomcode: 1, roomName : "Bohol", roomPrice: 7800.00, maxNumberofGuests: 2, description: "1 Queen size bed"},
           {selected:false, roomcode: 2, roomName : "Vigan", roomPrice: 8200.00, maxNumberofGuests: 3, description: "1 Queen size bed and 1 single bed"},
           {selected:false, roomcode: 3, roomName : "Cebu", roomPrice: 9000.00, maxNumberofGuests: 4, description: "2 Queen size bed"},
           {selected:false, roomcode: 4, roomName : "Siargao", roomPrice: 10000.00, maxNumberofGuests: 2, description: "Deluxe room - King size bed"},
           {selected:false, roomcode: 5, roomName : "Coron", roomPrice: 11000.00, maxNumberofGuests: 4, description: "With mini kitchen and 2 queen size bed"},
           {selected:false, roomcode: 6, roomName : "Manila", roomPrice: 15000.00, maxNumberofGuests: 8, description: "Penthouse - 3 bedrooms with kitchen"},
         ];
         
         $scope.roomcart = [];
         $scope.registered = [];
         $scope.addtocart  = function (room) {
            if (room.selected===true){
               $scope.roomcart.push(room);
         }  else {
               $scope.roomcart.splice($scope.roomcart.indexOf(room),1);
         }
         $scope.people.totalPrice = 0
               for (i = 0; i < $scope.roomcart.length; i++) {
                  $scope.people.totalPrice = $scope.people.totalPrice + $scope.roomcart[i].roomPrice;
         }
           };
           $scope.save = function () {
               $scope.registered.push($scope.people); //to be checked
               alert("Thank you for booking with us.")
               $window.location.href = "index.html";
           };
         $scope.clear = function () {
               document.getElementById("registeredform").reset();
           };
         });
         
      </script>
   </head>
   <body>
      <div class="title">
         <h1>
         AFK Hotel Booking Forms
         <h1>
      </div>
      <main class ="pt-5 pb-5">
         <div class="container" ng-app="myApp" ng-controller="myCtrl">
         <form class="needs-validation" novalidate autocomplete="off" id="registeredform" name="myForm">
            <div class="container">
            <div class="form-group">
               <div class="row">
                  <div class="col-sm-6">
                     <label for="exampleInputEmail1">First name</label>
                     <input
                        type="text"
                        class="form-control"
                        id="firstNameForms"
                        aria-describedby="fnameHelp"
                        placeholder="Enter first name"
                        ng-model="people.firstName"
                        required
                        />
                     <div class="valid-feedback">
                        Looks good bro!
                     </div>
                     <div class="invalid-feedback">
                        Hey, don’t forget about this!
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <label for="lastNameForms">Last name</label>
                     <input
                        type="text"
                        class="form-control"
                        id="lastNameForms"
                        aria-describedby="lnameHelp"
                        placeholder="Enter last name"
                        ng-model="people.lastName"
                        required
                        />
                     <div class="valid-feedback">
                        Good job, son.
                     </div>
                     <div class="invalid-feedback">
                        Wait! You forgot this one.
                     </div>
                  </div>
                  <div class="col-sm-6" ng-class="{'has-error': myForm.email.$invalid}">
                     <label for="lastNameForms">E-mail</label>
                     <input
                        type="email"
                        class="form-control"
                        name="name"
                        aria-describedby="emailHelp"
                        placeholder="Enter your desired email"
                        ng-model="people.email"
                        required
                        />
                     <div class="valid-feedback">
                        Nice email.
                     </div>
                     <div class="invalid-feedback">
                        Hey, please fix email plz.
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <label for="lastNameForms">Phone number</label>
                     <input
                        type="number"
                        class="form-control"
                        id="phonenumberForms"
                        aria-describedby="phoneHelp"
                        placeholder="Enter your phone number"
                        ng-model="people.phoneNumber"
                        required
                        />
                     <div class="valid-feedback">
                        Awesome job.
                     </div>
                     <div class="invalid-feedback">
                        Bro, please input your cellphone number, bro.
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <label for="checkindatee">Check-in date</label>
                     <input class="form-control" type="date" placeholder="MM/DD/YYYY" id="checkindate-input" ng-model="people.checkinDate" required>
                     <div class="valid-feedback">
                        Bro, galing mo.
                     </div>
                     <div class="invalid-feedback">
                        Hi, you forgot this, kindly correct thx.
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <label for="checkoutDatee">Check-out date</label>
                     <input class="form-control" type="date" placeholder="MM/DD/YYYY" id="checkout-date-input" ng-model="people.checkoutDate" required>
                     <div class="valid-feedback">
                        Galing dude pare chong.
                     </div>
                     <div class="invalid-feedback">
                        Hoy, kindly change to your checkout date as you forgot to change.
                     </div>
                  </div>
               </div>
               <button class="btn btn-info float-sm-right" type="submit" id="btnsubmit">Verify</button>
         </form>
         &nbsp;
         <h3>Select your room</h3>
         <table class="table table-hover table-sm table-responsive-sm">
         <thead>
         <tr>
         <th scope="col">Select</th>
         <th scope="col">Room Name</th>
         <th scope="col">Description</th>
         <th scope="col">Guests allowed</th>
         <th scope="col">Price</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="room in roomsRegistered">
         <td><input type="checkbox" ng-checked="all" ng-model="room.selected" ng-change ="addtocart(room)"></td>
         <td>{{ room.roomName}}</td>				
         <td>{{room.description}}</td>
         <td>{{room. maxNumberofGuests}}</td>
         <td>₱{{ room.roomPrice}}</td>
         </tr>
         </tbody>
         <tfoot>
         <tr>
         <td></td>
         <td></td>
         <td></td>
         <td class = "font-weight-bold">Total</td>
         <td class = "font-weight-bold">₱{{people.totalPrice}}</td>
         </tr>
         </tfoot>
         </table>
         </div>
         <button class="btn btn-primary float-right" type="submit" id="btnsubmit" ng-click="save()">Submit form</button>
         <button class="btn btn-danger float-right mr-5" type="reset" id="btnsubmit" ng-click="clear()">Clear form</button>
      </main>
      <footer>
         <div class="page-footer col-sm-12 font-small indigo">
            <div class="container">
               <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                  <div class="col-md-2 mb-3">
                     <h6 class="text-uppercase font-weight-bold">
                        <a href="index.html">Home</a>
                     </h6>
                  </div>
                  <div class="col-md-2 mb-3">
                     <h6 class="text-uppercase font-weight-bold">
                        <a href="aboutus.html">About</a>
                     </h6>
                  </div>
                  <div class="col-md-2 mb-3">
                     <h6 class="text-uppercase font-weight-bold">
                        <a href="booking.html">BOOKINGS</a>
                     </h6>
                  </div>
                  <div class="col-md-2 mb-3">
                     <h6 class="text-uppercase font-weight-bold">
                        <a href="Contact_us.html">CONTACT US</a>
                     </h6>
                  </div>
               </div>
               <hr class="rgba-white-light" style="margin: 0 15%;">
               <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                  <br>
                  <br>
               </div>
               <div class="row mx-auto">
                  <div class="btn-group-horizontal mx-auto ">
                     <div class="mx-5 flex-center">
                        <!-- Facebook -->
                        <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Email-->
                        <a class="pin-ic">
                        <i class="fas fa-envelope fa-lg white-text"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <!-- Copyright -->
               <div class="footer-copyright text-center py-3">© 2021 AFK Hotel Developed by Sani's Babies. All Rights Reserved:</div>
               <!-- Copyright -->
            </div>
         </div>
      </footer>
   </body>
   <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
   </script>
</html>