<!DOCTYPE html>
  <html >
    <head>
    
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>AFK Apartelle</title>
      
      <!--Angular Routing-->
      <script>document.write('<base href="' + document.location + '" />');</script>
      <script data-semver="1.8.2" src="https://code.angularjs.org/1.8.2/angular.js" data-require="angular.js@1.8.x"></script>
      <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css" />
      <!--Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
      <!--Angular JS-->
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"> </script>
      <script src = "contact-us_controller.js"></script>
      <!-- Font Awesome -->
      <script
      src="https://kit.fontawesome.com/2ddbad06a5.js"
      crossorigin="anonymous"
      ></script>

    </head>


    <body ng-app="datashare" >
        <header>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mx-auto">
                          <li class ="nav-item active">
                            <a class="nav-link" href="index.html" >HOME</a>
                          </li>
                          <li class="nav-item active">
                            <a class = "nav-link" href="#">ABOUT</a>
                          </li>
                          <li class= "nav-item active">
                            <a class="nav-link" href="booking.html">BOOKING</a>
                          </li>
                          <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              SERVICES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Rooms</a>
                              <a class="dropdown-item" href="#">Facilities</a>
                              <a class="dropdown-item" href="#">Events</a>
                              </div>
                            </li>
                            <li class="nav-item active">
                            <a class="nav-link" href="Contact_us.html">CONTACT US</a>
                            </li>
                          </ul>
                        </div>
                    </nav>
                </div>
        </header>
    <main>
        <div class = "title">

        </div>
            <form name="contactform" ng-controller="ContactCtrl" >
                <div class = "ContactUs Title" >
                  <center><h2> Contact Us </h2></center>
                </div>
                <table border="0">
                <!-- Names -->
                <label for "name">Name: </Label>
                <div class="row">
                <div class = col-sm-6>
                <input type="text" id="Fname" name="Fname" ng-required= "true" ng-model="Finame" placeholder="Firstname" style="text-transform:capitalize" class="form-control">
                  <!-- First name Validation -->
                <div ng-show = "contactform.Fname.$touched && contactform.Fname.$invalid" >
                  <small style =" color:red; display: block; text-align: center;">Please enter your First Name</small>
                </div>
                </div>
                <div class = col-sm-6>
                <input type="text" id="Lname" name="Lname"ng-required= "true"  ng-model="Laname" placeholder="Lastname" style="text-transform:capitalize" class="form-control">
                <!-- Second name Validation -->
                <div ng-show = "contactform.Lname.$touched && contactform.Lname.$invalid" >
                  <small style =" color:red; display: block; text-align: center;">Please enter your Last Name</small>
                </div>
                </div>
                </div>
  
                <!-- Email -->
                <label for "email">Email: </Label>
                <input type="email" id="email" name="email" ng-required= "true" ng-model="Elmail" placeholder="Enter Email" class="form-control">
                <!-- Email Validation -->
                  <div ng-show = "contactform.email.$touched && contactform.email.$invalid" >
                    <small style =" color:red; display: block; text-align: center;">Please enter a valid Email</small>
                  </div>
  
                <!-- Message box -->
                <label for "msg">Message:</label></lbl>
                <textarea id="msg" name="msg" ng-required= "true" ng-model="Mesge" placeholder="Message" style="width:100%;height:160px;" class="form-control"> </textarea>
                <!-- Message box Validation -->
  
                  <div ng-show = "contactform.msg.$touched && contactform.msg.$invalid">
                    <small style =" color:red; display: block; text-align: center;">Please enter a Message</small>
                  </div>
  
  
                <tr><td colspan="2" align="right">
                <!-- Submit Button -->
                <span><input type="submit" class = "Animation" value="Send" style = "float:right" ng-disabled = "contactform.$invalid" ng-click="shareMyData(Finame, Laname, Elmail, Mesge)" /> </span>
  

  
            </form>
  
        </div>
    </main>

  </html>
