<!DOCTYPE html>
  <html >     
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact Us - AFK Hotel</title>
        <link rel="icon" href="img/icon.png">
        <link href= "css/style.css" rel="stylesheet" type="text/css">
        <link href= "css/contactus.css" rel="stylesheet" type="text/css">     
        <!--Angular Routing-->
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script data-semver="1.8.2" src="https://code.angularjs.org/1.8.2/angular.js" data-require="angular.js@1.8.x"></script>
        <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script> 
        <!-- Bootstrap LINKS -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"
        />
        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
          integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
          crossorigin="anonymous"
        ></script>
        <!--angular js-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src = "js/contact-us_controller.js"></script>
        <!-- Font Awesome -->
        <script
          src="https://kit.fontawesome.com/2ddbad06a5.js"
          crossorigin="anonymous"
        ></script>
      </head>
      
    <body ng-app="datashare"background="img/resized-image-Promo (1).jpeg">
      <header>
        <div class="container-fluid">
           <div class="row">
              <div class = "col-sm-6 pl-5">
                 <a href= "index.html"><img src="img/LOGO TRAN.png" alt="LOGO" width="100px" height="100px"></a>
                 <a class = "title-logo" href= "index.html"> AFK Hotel</a>
              </div>
              <div class="col-sm-6 pt-4 ">
                 <nav class="navbar navbar-expand-lg navbar-light">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                       <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                       <ul class="navbar-nav mx-auto">
                          <li class="nav-item active">
                             <a class="nav-link" href="index.html">HOME</a>
                          </li>
                          <li class="nav-item active">
                             <a class="nav-link" href="aboutus.html">ABOUT</a>
                          </li>
                          <li class="nav-item active">
                             <a class="nav-link" href="booking.html">BOOKING</a>
                          </li>
                          <li class="nav-item dropdown active">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SERVICES
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="rooms.html">Rooms</a>
                                <a class="dropdown-item" href="facilities.html">Facilities</a>
                                <a class="dropdown-item" href="events.html">Events</a>
                             </div>
                          </li>
                          <li class="nav-item active">
                             <a class="nav-link" href="Contact_us.html">CONTACT US</a>
                          </li>
                       </ul>
                    </div>
                 </nav>
              </div>
  
           </div>
        </div>
     </header>
     <main>

      <div class="container3 px-4">
        <div class="row">
          <div class="col-sm-6 center">
            <form name="contactform" ng-controller="ContactCtrl" >
              <div class = "ContactUs Title" >
                <center><h2> Contact Us </h2></center>
              </div>
              
              <!-- Names -->
              <label for "name">Name: </label>
              <div class="row">
                <div class = col-sm-6>
                  <input type="text" class="form-control" id="Fname" name="Fname" ng-required= "true" ng-model="Finame" placeholder="Firstname" style="text-transform:capitalize" >

                  <!-- First name Validation -->
                  <div ng-show = "contactform.Fname.$touched && contactform.Fname.$invalid" >
                    <small style =" color:red; display: block; text-align: center;">Please enter your First Name</small>
                  </div>
                </div>
                <div class = col-sm-6>
                  <input type="text" class="form-control" id="Lname" name="Lname"ng-required= "true"  ng-model="Laname" placeholder="Lastname" style="text-transform:capitalize" >
                
                  <!-- Second name Validation -->
                  <div ng-show = "contactform.Lname.$touched && contactform.Lname.$invalid" >
                    <small style =" color:red; display: block; text-align: center;">Please enter your Last Name</small>
                  </div>
                </div>
              </div>

              <!-- Email -->
              <label for "email">Email: </label>
                <input type="email" class="form-control" id="email" name="email" ng-required= "true" ng-model="Elmail" placeholder="Enter Email" >
                
                <!-- Email Validation -->
                  <div ng-show = "contactform.email.$touched && contactform.email.$invalid" >
                    <small style =" color:red; display: block; text-align: center;">Please enter a valid Email</small>
                  </div>

              <!-- Message box -->
              <label for "msg">Message:</label>
                <textarea id="msg" name="msg" ng-required= "true" ng-model="Mesge" placeholder="Message" style="width:100%;height:160px;" class="form-control"> </textarea>

                <!-- Message box Validation -->
                <div ng-show = "contactform.msg.$touched && contactform.msg.$invalid">
                  <small style =" color:red; display: block; text-align: center;">Please enter a Message</small>
                </div>


              <!-- Submit Button -->
              <input type="submit" class = "Animation" value="Send" style = "float:left" ng-disabled = "contactform.$invalid" ng-click="shareMyData(Finame, Laname, Elmail, Mesge)" /> </button>

              

            </form>

          </div>

          <div class =" col-sm-1">
                  
          </div>
      
            <div class="col-sm-4 center pt-5">
              <div class = "contact-us">    
                <div class = "row pt-5">
                <div class="location-ic">
                  <i class="fas fa-map-marker-alt"></i>
                  <a> Makati City, Metro Manila</a>
                </div>
              </div>
              <div class = "row">
                <div class="phone-ic">
                  <i class="fas fa-phone-alt"></i>
                  <a class = "phone"> afk.hotel@gmail.com</a>
                </div>
              </div>
              <div class = "row">
                <div class="email-ic">
                  <i class="fas fa-envelope"></i>
                  <a> 09123456789</a>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </main>
    <footer>
      <div class="page-footer col-sm-12 font-small indigo">
        <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="index.html">Home</a>
              </h6>
            </div>

            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="aboutus.html">About</a>
              </h6>
            </div>

            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="booking.html">BOOKINGS</a>
              </h6>
            </div>

            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="Contact_us.html">CONTACT US</a>
              </h6>
            </div>
          </div>

          <hr class="rgba-white-light" style="margin: 0 15%" />

          <div
            class="row d-flex text-center justify-content-center mb-md-0 mb-4"
          >
            <br />
            <br />
          </div>

          <div class="row mx-auto">
            <div class="btn-group-horizontal mx-auto">
              <div class="mx-5 flex-center">
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                </a>

                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                </a>
                <!--Email-->
                <a class="pin-ic">
                  <i class="fas fa-envelope fa-lg white-text"></i>
                </a>
              </div>
            </div>
          </div>

          <br />
          <br />

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            © 2021 AFK Hotel Developed by Sani's Babies. All Rights Reserved:
          </div>
          <!-- Copyright -->
        </div>
      </div>
    </footer>

  </html>
