<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AFK Apartelle</title>
    <link rel="stylesheet" href="css/sample.css" />
    <!-- Bootstrap LINKS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <!--angular js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/sample.js"></script>
    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.Carousel = [
          {
            URL: "www.google.com",
            filename:
              "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg",
            class: "carousel-item active",
          },
          {
            URL: "www.yahoo.com",
            filename:
              "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg",
            class: "carousel-item",
          },
        ];

        $scope.people = { firstName: "", lastName: "", email: "", password: "", phoneNumber: "", checkinDate: null, checkoutDate: null};
        $scope.roomsRegistered = [
        {roomcode: 1, roomName : "Bohol", roomPrice: 7800.00, maxNumberofGuests: 2, description: "1 Queen size bed"},
        {roomcode: 2, roomName : "Vigan", roomPrice: 8200.00, maxNumberofGuests: 3, description: "1 Queen size bed and 1 single bed"},
        {roomcode: 3, roomName : "Cebu", roomPrice: 9000.00, maxNumberofGuests: 4, description: "2 Queen size bed"},
        {roomcode: 4, roomName : "Siargao", roomPrice: 10000.00, maxNumberofGuests: 2, description: "Deluxe room - King size bed"},
        {roomcode: 5, roomName : "Coron", roomPrice: 11000.00, maxNumberofGuests: 4, description: "With mini kitchen and 2 queen size bed"},
        {roomcode: 6, roomName : "Manila", roomPrice: 15000.00, maxNumberofGuests: 8, description: "Penthouse - 3 bedrooms with kitchen"},
      ];
        $scope.selectedRoom = 1;
        $scope.registered = [];

        $scope.save = function () {
          $scope.registered.push($scope.people);
        };
      });
      
    </script>
  </head>

  <body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
      <form novalidate autocomplete="off">
        <div class="container">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="exampleInputEmail1">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstNameForms"
                  aria-describedby="fnameHelp"
                  placeholder="Enter first name"
                  ng-model="people.firstName"
                />
              </div>
              <div class="col-sm-6">
                <label for="lastNameForms">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastNameForms"
                  aria-describedby="lnameHelp"
                  placeholder="Enter last name"
                  ng-model="people.lastName"
                />
              </div>
              <div class="col-sm-6">
                <label for="lastNameForms">E-mail</label>
                <input
                  type="emails"
                  class="form-control"
                  id="emailForms"
                  aria-describedby="emailHelp"
                  placeholder="Enter your desired email"
                  ng-model="people.email"
                />
              </div>
                <div class="col-sm-6">
                <label for="lastNameForms">Phone number</label>
                <input
                  type="number"
                  class="form-control"
                  id="phonenumberForms"
                  aria-describedby="phoneHelp"
                  placeholder="Enter your phone number"
                  ng-model="people.phoneNumber"
                  required
                />
              </div>
            
            <div class="col-sm-6 ">
              <label for="sel1">Room type:</label>
                <select ng-options="room.roomcode as room.roomName for room in roomsRegistered" ng-model="selectedRoom" class="form-control"
                id="roomsSelect1" required></select>
              </select>
              <!--<h1>You selected a {{selectedRoom.roomName}} that is priced {{selectedRoom.roomPrice}}</h1> -->
            </div>
            <div class="col-sm-6">
              <label for="inputState">Number of Guests</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
              </select>
            </div>

            <div class="col-sm-6">
              <label for="checkindatee">Checkin date</label>
                <input class="form-control" type="date" placeholder="MM/DD/YYYY" id="example-datetime-local-input" ng-model="people.checkinDate">
              </div>
            <div class="col-sm-6">
              <label for="checkoutDatee">Checkout date</label>
                <input class="form-control" type="date" placeholder="MM/DD/YYYY" id="example-datetime-local-input" ng-model="people.checkoutDate">
              </div>
              
          </div>
         
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="save()">
            Submit
          </button>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">filename</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in registered">
            <td>{{ row.name}}</td>
            <td>{{ row.filename }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
