@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
/*Header*/
header .container-fluid{
    background: #ebcc90;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
    left: 0;
    position: relative;
}

.container-fluid .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 3.5rem;
    padding-left: 1.5rem;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:white;
 }
 
/*Body*/
main{
    padding-top: 3rem;
}
.title h1{
    text-align: center;
    padding-bottom: 1.75rem;
}

.mx-auto-blockquote{
    font-family: 'Belleza', sans-serif;
    color: #b68911;
    margin-left: 150px;
    margin-right: 150px;


