@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
html, body{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
/*INDEX WEBPAGE*/
/*HEADER*/
header .container-fluid{
    background: #ebcc90;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
    left: 0;
    position: relative;
}
.container-fluid .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 3.5rem;
    padding-left: 1.5rem;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:white;
 }
 
/*MAIN*/
.rounded .mx-auto .d-md-block .img{
    width: 100%;
}
.mx-auto-blockquote{
    font-family: 'Belleza', sans-serif;
    color: #b68911;
    text-align: center;
    justify-content: center;
}
main .row{
    padding-top: .5rem;
    padding-bottom: 2.5rem;
}


main .mx-auto .mx-5 a{
    color: black;
}
main .container-fluid2 .image {
    position:relative;
    padding-left: 0%;
    padding-right: 0%;
}
main .container-fluid2 .container-flex{
    display:flex;
    justify-content: center;
    width:100% ;
}
main .container-fluid2 .container-flex2{
    display:flex;
    justify-content: center;
    width:100% ;
}

main .container-fluid2 .image .text {
  position: absolute;
  top: 50%;
  background: black;
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: 'Quicksand', sans-serif;
}
main .container-fluid2 .image .text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b68911;
    color: white;
    text-align: center;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
}


/*FOOTER*/
footer{
    margin-top: auto;
}
footer .page-footer{
    background:#ebcc90;
    margin-top: auto;

}
footer .container a{
    color:black;
}
footer .container a:hover{
    color:white;
    text-decoration: none;

}
/*INDEX WEBPAGE*/





/*BOOKING WEBPAGE*/
.title {
    background: #ebcc90;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 30px;
    margin: 0;
    left: 0;
    position: relative;
    text-align: center;
}
/*MAIN*/
header .title h1{
    text-align: center;
    padding-bottom: 1.75rem;
}
/*FOOTER*/
footer .page-footer{
    background:#ebcc90;
}
footer .container a{
    color:black;
}
footer .container a:hover{
    color:white;
    text-decoration: none;

}
/*BOOKING WEBPAGE*/


/*ROOMS WEBPAGE*/
/*BODY*/
body.rooms-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}
/*MAIN*/

main .regular{
        font-family: 'Belleza', sans-serif;
        background:#bf9b30;
        color: white;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: 0.2;
    }
main .carousel{
    margin-left: -15px; 
    margin-right: -15px;
}
main .corousel-inner{
    height: 400px;
}
main .corousel-inner img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}
main .carousel-text-rooms{
        font-size: 5vw;
        font-family: 'Belleza', sans-serif;
        text-shadow: 0 0 9px grey, 0 0 10px grey;
        color: black;

      }
main .carousel-desc-rooms{
        font-size: 2vw;
        font-family: '';
        color: black;
        font-family: 'Noto Sans JP', sans-serif;
        text-shadow: 0 0 9px grey, 0 0 10px grey;
        bottom: 30% !important; 
      }
main .carousel-text{
        font-size: 50px;
        font-family: 'Belleza', sans-serif;
    }
/*footer*/
footer .page-footer{
    background:#ebcc90;
}
footer .container a{
    color:black;
}
footer .container a:hover{
    color:white;
    text-decoration: none;

}
/*ROOMS WEBPAGE*/


/*ABOUT US WEBPAGE*/
/*HEADER*/
header .title-aboutus h1{
    text-align: center;
    font-family: 'Belleza', sans-serif;
    padding-top: 2rem;
}
/*MAIN*/
main .container3 .title-col{
    text-align: center;
    font-family: 'Belleza', sans-serif;
    font-size: 40px;
}
main .container3 .title-col2{
    text-align: center;
    font-family: 'Belleza', sans-serif;
    font-size: 30px;
}
main .container3 .text1{
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 20px;
}
/*footer*/
footer .page-footer{
    background:#ebcc90;
}
footer .container a{
    color:black;
}
footer .container a:hover{
    color:white;
    text-decoration: none;

}

/*ABOUT US WEBPAGE*/



